@font-face{ 
	font-family: 'Lot';
	src: url('../fonts/LOT-webfont.eot');
	src: url('../fonts/LOT-webfont.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/LOT-webfont.woff') format('woff'),
	     url('../fonts/LOT-webfont.ttf') format('truetype'),
	     url('../fonts/LOT-webfont.svg#webfont') format('svg');
}


//-------------------------------------------- Foundation

// Reference: http://jaydenseric.com/blog/forget-normalize-or-resets-lay-your-own-css-foundation

html {
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-tap-highlight-color: transparent;
}

body {
	margin: 0;
	font-size: 100%;
	line-height: 1.6875;
    font-family: sans-serif;
}

iframe {
	border: 0;
}

h1, h2, h3, h4, h5, p, ul, ol, figure, button {
	margin: 0;
	padding: 0;
}

li {
    display: block;
}

h1, h2, h3, h4, h5, p {
	font-size: inherit;
}

strong {
	font-weight: bold;
}

sup {
	position: relative;
	top: -.5em;
	font-size: 65%;
	line-height: 0;
	vertical-align: baseline;
}

a, button {
	color: inherit;
}

a {
	text-decoration: none;
}

button {
	overflow: visible;
	border: 0;
	font: inherit;
	letter-spacing: inherit;
	background: none;
	cursor: pointer;
	-webkit-font-smoothing: inherit;
}

img {
	max-width: 100%;
	height: auto;
	border: 0;
}

/** END FOUNDATION */

/** BEGIN STYLING */

/* Global Styles--------------------------------------------- */

section {
	width: 100%;
	height: 100%;
}

.container {
	padding: 5em 8em;
}

/* Navigation ----------------------------------------------- */

.navigation {
	width: 100%;
	margin: 0;
	position: fixed;
	z-index: 9999;	
	display: none;
}

.navigation-visible {
	background-color: #000;
	border-bottom: 1px solid #ccc;
}

	.navigation-container {
		margin: 0 auto;
		max-width: 62.5em;
	}

		.logo, .navigation-container a {
			font-family: 'Oswald', sans-serif;
			color: #fff;
		}

		.navigation-container .logo {
			display: inline-block;
			padding: 0.5em;
			font-size: 2em;
			text-transform: uppercase;
		}

		.navigation-container .menu {
			float: right;
			margin-top: 1.5em;
		}

			.navigation-container .menu li {
				display: inline-block;
				padding-right: 0.75em;
				font-size: 1.25em;
			}

			.navigation-container .menu a:hover {
				color: #8C1740;
			}

			.navigation-container .menu a:active {
				color: #CC4907;
			}

/* Banner ----------------------------------------------- */

.banner {
	height: 45.938rem;
	background-color: #F9F1DD;
}

	.banner-container {
		margin: 0 auto;
		position: relative;
		top: 40%;
		transform: translateY(-50%);
		text-align: center;
	}

		.titleName {
			font-family: 'Lot', 'Arial Bold', sans-serif;
			font-size: 10em;
			letter-spacing: 0.2em;
			line-height: 1.20em;
		}
			/* Multi-colored text */
			.char1 {
				color: #fe4800;
			}

			.char2 {
				color: #a3e400;
			}

			.char3 {
				color: #fec700;
			}

			.char4 {
				color: #0037fe;
			}

			.char5 {
				color: #a3e400;
			}

			.char6 {
				color: #fe4800;
			}

			.char7 {
				color: #fec700;
		}

		.banner-container h2, h3 {
			font-family: 'Oswald', sans-serif;
			font-size: 3em;
			font-weight: 200;
		}

		.goDown {
			color: #000;
			display: inline-block;
			position: relative;
			top: 2em;
			padding: 1em;
			font-family: 'Oswald', sans-serif;
		}

/* About ----------------------------------------------- */

.about {
	background-color: #fec700;
}
	
	.about-info {
		width: 30em;
		color: #000;
		text-align: center;
		display: inline-block;
	}
		.userPic {
			width: 150px;
			height: 150px;
			background: url('../images/userPic.jpg');
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
			-moz-border-radius: 75px;
			-webkit-border-radius: 75px;
			border-radius: 75px;
			border: 2px solid #3E1302;
			margin: 0 auto;
		}

		.about-info p {
			font-family: 'Oswald', serif;
			font-weight: 300;
			font-size: 2em;
			line-height: 1.25em;
			margin: 0.5em 0;
		}
	
	.philly {
		display: inline-block;
		width: 30em;
	}
/* Quote ----------------------------------------------- */

.quote {
	background-color: #fe5a19;
}
	.quote .container p {
		font-size: 1.5em;
		font-family: 'Oswald', serif;
		font-weight: lighter;
		color: #F3F3F1;
		line-height: 1.5em;
	}

/* Portfolio ----------------------------------------------- */

.portfolio {
	background-color: #F9F1DD;
	color: #000;
	text-align: center;
}
	.portfolio h1 {
		font-family: 'Oswald', serif;
		font-size: 3em;
		padding: 1em;
	}

.fake-browser-ui {
	padding: 20px 0 0;
	border-radius: 3px;
	border: 3px solid #000;
	display: inline-block;
	position: relative;
	line-height: 0;
}

.fake-browser-ui .frame {
	display: block;
	border-bottom: 1px solid black;
	height: 15px;
	width: 100%;
	position: absolute;
	top: 5px;
	left: 1px;
}
 
.fake-browser-ui span {
	height: 8px;
	width: 8px;
	border-radius: 8px;
	border: 1px solid #000;
	float: left;
	margin: 0 0 0 4px;
}


/* Footer ----------------------------------------------- */

.footer {
	background-color: #194bfe;
	text-align: center;
	clear: both;
}
	
	.footer h1 {
		color: #D1D7DA;
		font-size: 1.5em;
		font-family: 'Oswald', cursive;
		text-transform: uppercase;
		margin-bottom: 1.25em;
	}
	
	.links {
		margin: 0 auto;
	}

		.links li {
			display: inline;
			margin: 0 1em;
		}

			.links .fa {
				font-size: 2em;
			}

/* Media Queries ----------------------------------------------- */

@media only screen and (max-width: 400px) {
    body { font-size:90%;}
 }
