//-------------------------------------------- Foundation

// Reference: http://jaydenseric.com/blog/forget-normalize-or-resets-lay-your-own-css-foundation

html {
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-tap-highlight-color: transparent;
}

body {
	margin: 0;
	font: 16px/1 sans-serif;
}

iframe {
	border: 0;
}

h1, h2, h3, h4, h5, p, ul, ol, figure, button {
	margin: 0;
	padding: 0;
}

li {
    display: block;
}

h1, h2, h3, h4, h5, p {
	font-size: inherit;
}

strong {
	font-weight: bold;
}

sup {
	position: relative;
	top: -.5em;
	font-size: 65%;
	line-height: 0;
	vertical-align: baseline;
}

a, button {
	color: inherit;
}

a {
	text-decoration: none;
}

button {
	overflow: visible;
	border: 0;
	font: inherit;
	letter-spacing: inherit;
	background: none;
	cursor: pointer;
	-webkit-font-smoothing: inherit;
}

img {
	max-width: 100%;
	height: auto;
	border: 0;
}

/** END FOUNDATION */

.navigation {
	background-color: black;
	border-bottom: 1px solid #DDD;
	width: 100%;
	margin: 0;
	position: fixed;
	z-index: 9999;	
}

	.navigation-container {
		margin: 0 auto;
		max-width: 62.5em;
	}

		.navigation-container .logo, a {
			font-family: 'Oswald', sans-serif;
			color: #fff;
		}

		.navigation-container .logo {
			display: inline-block;
			padding: 0.5em;
			font-size: 2em;
			text-transform: uppercase;
		}

		.navigation-container .menu {
			float: right;
			margin-top: 1.5em;
		}

			.navigation-container .menu li {
				display: inline-block;
				padding-right: 0.75em;
				font-size: 1.25em;
			}

			.navigation-container .menu a:hover {
				color: #8C4907;
			}

			.navigation-container .menu a:active {
				color: #C1740C;
			}

.banner {
	width: 100%;
	height: 45.938rem;
	background-image: url('images/banner.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	overflow: auto;
}

	.banner-container {
		width: 70em;
		height: 45.938rem;
		position: absolute;
		top: 7.5em;
		left: 7em;
		text-align: left;
	}

		.banner-container h1, h2, h3 {
			font-family: 'Oswald', sans-serif;
			font-size: 5em;
			line-height: 1.20em;
		}

.about {
	background-color: #C19F62;
}
	/** USED FOR ALL CONTAINERS */
	.container {
		padding: 5em 8em;
	}

		.userPic {
			width: 150px;
			height: 150px;
			background: url('images/userPic.jpg');
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
			-moz-border-radius: 75px;
			-webkit-border-radius: 75px;
			border-radius: 75px;
			border: 2px solid #3E1302;
			margin: 0 auto;
		}

		.about .container h1, .about .container p, .about .container a  {
			color: #3E1302;
			text-align: center;
		}

		.about .container h1 {
			font-family: 'Playball', cursive;
			font-size: 7em;
			line-height: 1em;
			margin-top: .25em;
		}

		.about .container p {
			font-family: 'Oswald', serif;
			font-weight: 300;
			font-size: 2em;
			line-height: 1.25em;
			margin: 0.5em 0;
		}

		.about .container a {
			font-weight: bolder;
		}

.quote {
	background-color: #C1740C;
}
	.container{}

		.quote .container p {
			font-size: 3em;
			font-family:'Playball', cursive;
			color: #F3F3F1;
		}

.porfolio {
	background-color: #F3F3F1
}
	
	.portfolio .container > h1 {
		font-family:'Playball', cursive;
		font-size: 7em;
		color: #3E1302;
		text-align: center;
	}

	.portfolio-peice {
		padding: 3em;
		clear: both;
	}
	.screenshot {
		float: left;
		width: 50%;
		border: 2px solid #676A6B;
		margin: 0 0 1em 0;
	}

		.browser-bar {
			position: relative;
			width: 100%;
			height: 11px;
			line-height: 11px;
			border-radius: 3px 3px 0 0;
			height: 21px;
			font-size: 1px;
			background-color: #D1D7DA;
			line-height: 26px;
		}
	
		.browser-button {
			height: 6px;
			margin-left: 5px;
			display: inline-block;
			font-size: 9px;
			line-height: 20px;
			background-color: #7f7f7f;
			width: 6px;
			border-radius: 100%;
		}

	.info {
		width: 30%;
		float: right;
		text-align: center;
		padding: 6.5em 0;
	}
		.info h1 {
			color: #3E1302;
			font-size: 2em;
			font-family: 'Playball'; cursive;
			margin-bottom: 0.75rem;
		}
		
		.info p, .info a {
			font-family: 'Oswald', serif;
		}

		.info p {
			color: #C1740C;
			margin-bottom: 0.75rem;
		}
		
		.info a {
			color: #3E1302;
		}

.footer {
	background-color: #3E1302;
	text-align: center;
	margin-top: 3em;
	clear: both;
}
	
	.footer h1 {
		color: #D1D7DA;
		font-size: 1.5em;
		font-family: 'Oswald', cursive;
		text-transform: uppercase;
		margin-bottom: 1.25em;
	}
		.links {
			margin: 0 auto;
		}
		.links li {
			display: inline;
			margin: 0 1em;
		}